/*style.css - copyright jack farrand 2017*/

@font-face { font-family: Digital7; src: url('fonts/digital_7/digital-7_mono.ttf'); format("truetype")}
 
body,html
{
	margin: 0px;
	padding: 0px;	
}

h1
{
	margin: 5px;
}

hr
{
	color: #aaa;
}

pre
{
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#maincontent
{
	background-color: #eee;
	width: 90%;
	margin: 5px auto;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	
}

.digitaltimer
{
	font-family: Digital7;
	font-size: 15em;
	padding: 25px;
	margin: 0px auto;
	line-height: 100%;
	text-shadow: 0px 0px 10px white;
	background-color: black;
	color: white;
	border-radius: 15px;
}