/*style.css - copyright jack farrand 2017*/
body,html
{
	margin: 0px;
	padding: 0px;	
}

#maincontent
{
	background-color: #eee;
	width: 80%;
	margin: 5px auto;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	
}