/*style.css - copyright jack farrand 2017*/

@font-face { font-family: Digital7; src: url('fonts/digital_7/digital-7_mono.ttf'); format("truetype")}
 
body,html
{
	margin: 0px;
	padding: 0px;	
}

h1
{
	margin: 5px;
}

hr
{
	color: #aaa;
}

#fullscreenButton
{
	position: absolute;
	background: url("fullscreen.svg") no-repeat;
	background-position: center; 
	border: none;
	width: 30px;
	height: 25px;
	background-size: 30px;
	bottom: 5px;
	right: 5px;
	margin: 0px;
}

button
{
	height: 45px;
	margin: 15px;
	width: 150px;
   border-radius: 4px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.start
{
	background: rgb(28, 184, 65);
	border: 2px solid rgb(20, 150, 40);
	color: white;
	font-size: 1.25em;
	font-style: bold;
}

button.reset
{
	background: rgb(184, 28, 65);
	border: 2px solid rgb(150, 20, 40);
	color: white;
	font-size: 1.25em;
	font-style: bold;
}

select
{
	height: 45px;
	font-style: bold;
}

p.message
{
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    padding: 5px;
    font-weight: Bold;
}

#maincontent
{
	position: relative;
	background-color: #eee;
	width: 90%;
	margin: 5px auto;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	
}

.digitaltimer
{
	font-family: Digital7;
	font-size: 30vw;
	padding: 25px;
	margin: 0px auto;
	line-height: 100%;
	text-shadow: 0px 0px 10px white;
	background-color: black;
	color: white;
	border-radius: 15px;
}

